import pkg_resources

# List of packages as mentioned in the code
packages = [
    'pandas', 'numpy', 'seaborn', 'nltk', 'googletrans==4.0.0-rc1', 're', 'unicodedata', 
    'matplotlib', 'collections', 'sklearn', 'imblearn', 'torch', 'tensorflow', 
    'xgboost', 'joblib', 'wordcloud', 'vaderSentiment', 'textblob', 'afinn', 'pattern', 
    'flair', 'snownlp', 'streamlit', 'transformers'
]

# Create a requirements.txt list with the versions installed in the environment
installed_packages = [(d.project_name, d.version) for d in pkg_resources.working_set]

# Filter the packages to get their current versions
requirements = []
for package in packages:
    for installed_package in installed_packages:
        if package.lower() == installed_package[0].lower():
            requirements.append(f"{installed_package[0]}=={installed_package[1]}")

requirements

pandas==1.5.3
numpy==1.24.0
seaborn==0.11.2
nltk==3.6.3
matplotlib==3.6.3
torch==2.0.1
xgboost==1.4.2
joblib==1.4.2
wordcloud==1.9.2
textblob==0.15.3
streamlit==1.38.0
vaderSentiment==3.3.2
afinn==0.1
pattern==3.6
flair==0.11
snownlp==0.12.3
scikit-learn==1.2.2
transformers==4.30.2
